@charset "utf-8";
/* CSS Document */
h1{
    text-align: center;
    line-height: 1.5em;
    font-family: 'Microsoft YaHei';
    color: chocolate;
}

h2{
    text-align: center;
    line-height: 1.5em;
    font-family: 'Microsoft YaHei';
    color: chocolate;
}


.text{
    text-align: center;
    font-size: 120%;
    list-style: none;
}

