@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #B2D5EB;
}
a {
    text-decoration: none;
    color: #889aa4;
}
.hori_box {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section {
    padding: 100px 0;
}

/*导航条*/
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    top: 0;
    background-color: #353b48;
    z-index: 100;
    transition: .3s linear;
}
.logo {
    width: 44px;
    height: 44px;
    background-image: url("../images/icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: all 0.7s ease;
}
.navbar .hori_box a:hover {
    border-radius: 15%;
    width: 55px;
    height: 55px;
}
.chg_stl{
    color: #fff;
/*     width: 300px;
    height: 42px; */
    align-items:center;
    text-align: center;
}
.chg_stl_p{
    float: left;
    margin: 0 5px;
}
.chg_stl_chk{
    float: left;
    margin: 0 5px;
}
.chg_stl_chk+input{
    margin: 10px 5px;
}
.menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}
.menu a:hover {
    color: #48dbfb !important;
}

/*主界面*/
#main_box {
    height: 100vh;
    min-height: 500px;
    background-attachment: fixed;
}
#main_box .hori_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
#main_box .content {
    width: 100%;
    color: #fff;
}
#main_box .content .roll {
    font-size: 60px;
    margin-bottom: 60px;
}
#main_box .content .roll::after {
    content: "A BFUer";
    animation: textanim 10s linear infinite;
}
@keyframes textanim {
    25% {
        content: "A PC DIYer";
    }
    50% {
        content: "A MineCrafter";
    }
    75% {
        content: "A Friend";
    }
}
.buttons {
    margin-top: 60px;
}
.buttons a {
    display: inline-block;
    margin: 15px 30px;
    color: #48dbfb;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid #48dbfb;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
}
.buttons a:hover,
.buttons a:nth-child(2) {
    background-color: #48dbfb;
    color: #fff;
}
#main_back{
    overflow: hidden;
    background-color: black;
    pointer-events: none;
}
#clock img{
    box-sizing: content-box;
    z-index: -1;
}
#minutes0 {
    padding-left: 79.89583%;
    padding-top: 4.373%;
    position: fixed;
    top: 60px;
    width: 3.90625%;
}
#minutes1 {
    padding-left: 76.3541666%;
    padding-top: 4.16666667%;
    position: fixed;
    top: 60px;
    width: 4.21875%;
}
#hours0 {
    padding-left: 71.3020833%;
    padding-top: 3.697916667%;
    position: fixed;
    top: 60px;
    width: 4.2708333%;
}
#hours1 {
    padding-left: 67.2916667%;
    padding-top: 3.697916667%;
    position: fixed;
    top: 60px;
    width: 4.53125%;
}
#video {
    top: 60px;
    left: 0;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 200px;
    z-index: -10;
    position: fixed;
    width: 100%;
}
.social_acct a {
    color: #fff;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
}
.social_acct a:hover {
    color: #48dbfb;
}
/* 简介 */
#about{
    background-color: #f1f1f1;
}
#block_display{
    display: block;
}
.title{
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: #111;
  }
.title::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #111;
    bottom: 0;
    left: calc(50% - 40px);
  }
.title::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #48dbfb;
    border: 4px solid #f1f1f1;
    left: calc(50% - 12px);
    bottom: -7px;
  }
.about_content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
.about_pic{
    width: 200px;
    border-radius: 50%;
    margin-right: 100px;
  }
.about_text{
    flex: 1;
  }
.about_text h3{
    margin: 10px 0;
    color: #444;
    font-size: 16px;
  }
.about_text h3 span:nth-child(1):after,
.about_text h3 span:nth-child(2):after{
    content: "";
    width: 6px;
    height: 6px;
    background-color: #444;
    display: inline-block;
    border-radius: 50%;
    margin: 0 14px;
  }
.about_text p{
    font-size: 17px;
    text-align: justify;
    line-height: 26px;
    margin-top: 20px;
  }

/*页脚*/
#footer {
    height: 1vh;
    min-height: 1px;
    background-size: cover;
    background-attachment: fixed;
    background-color: #353b48;
    color: #889aa4;
    text-align: right;
    padding: 30px 0;
}

